

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Slab&display=swap');

:root {
  --primary-color: color(display-p3 0.2 0.0 0.9);
  --secondary-color: #5A906E;
}

#resp-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 11vh;
}

p, aside, table {
  text-align: center;
  font-size: 16px;
}

h2, h3 {
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: var(--primary-color);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px;
}


@media screen and (max-width: 768px) and (min-width: 481px) {
  #resp-header {
    height: 11vh;
  }
  video, img {
    max-width: 22dvh;
  }

}

@media screen and (max-width: 480px) {
  #resp-header {
    height: 12vh;
  }

  section {
    display: grid;
    align-items: center;
    background-color: #f0f0f0;
    padding: 3rem;
    border: 1px solid #999;
    border-radius: 5px;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
  }

  p, aside, table {
    font-size: 12px;
  }

  h3 {
    text-align: center;
  }

  section:has(source, figure, details, form, audio, video, figcaption) {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
  }


  video, img {
    max-width: 22dvh;
  }

}

source, figure, details, form, audio, video, figcaption {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin: 0 auto; 
}

section {
  display: grid;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 3dvh;
  border: 1px solid #999;
  border-radius: 5px;
  width: 100%;
  max-width: 75%;
  margin: 4px auto;

}

iframe {
  border: none; 
  width: 100%; 
  overflow: hidden;
}

img {
  transition: transform 0.3s;
  padding: 10px;
}

img:hover {
  transform: scale(1.3);
}

ul,ol {
   align-items: center;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1vh;
   padding: 1vh;
   margin: 0px;
 }

 li {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border: 1px solid #000;
  font-family: 'Roboto Slab', serif;
 }

 a {
   text-decoration: none; 
   color: color-mix(color(display-p3 0.8 0.2 0.1), color(display-p3 0.2 0.8 0.1), 50%);
   font-weight: bold;
   align-items: center;
 }


  
